<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
	  <aspNetCore>
		  <environmentVariables>
			  <environmentVariable name="MES_BASE_URL" value="https://man-prd.jemsms.corp.jabil.org/" />
			  <environmentVariable name="Username" value="svchua_jesmapistg" />
			  <environmentVariable name="Password" value="qKzla3oBDA51Ecq=+B2_z" />
		  </environmentVariables>
	  </aspNetCore>
  </system.webServer>
</configuration>