<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
	  <aspNetCore>
		  <environmentVariables>
			  <environmentVariable name="MES_BASE_URL" value="https://man-prd.jemsms.corp.jabil.org/" />
			  <environmentVariable name="Username" value="3317917" />
			  <environmentVariable name="Password" value="#Brasilhuehue1" />
		  </environmentVariables>
	  </aspNetCore>
  </system.webServer>
</configuration>